.formControl {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.formControl label {
    font-weight: bold;
    margin-bottom: 0.6rem;
}

.formControl input {
    padding: 0.7rem;
    border-radius: 0.5rem;
    border: none;
}

.formControl input::placeholder {
    color: #7b7b7b7b;
}
