.projectsContainer {
    width: 100%;
    padding: 2rem;
}

.titleContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.projectCard {
    width: 320px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
}

.projectCardEmpty {
    display: flex;
    font-size: 1.3rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 20% 0;
}
